body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(255, 255, 241);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.appContainer {
  height: 100vh;
}

.headingContainer {
  background-color: rgb(217, 232, 237);
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: rgba(0, 0, 0, 0.6) 3px solid;
}

.appHeading {
  font-style: normal;
  background-color: white;
  padding: 10px 20px 10px 20px;
  border-radius: 18px;
  cursor: pointer;
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

.addListContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.addList {
  display: flex;
  align-items: center;
  cursor: pointer;
  z-index: 8;
}

.addList:hover {
  transform: scale(103%);
}

.newListText {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  margin-left: 5px;
  height: 30px;
  z-index: 6;
}

.addIcon {
  width: 35px;
  margin-right: 5px;
  height: 30px;
  z-index: 3;
}

.container {
  display: flex;
  justify-content: center;
  border: solid rgba(0, 0, 0, 0.429) 3px;
  padding: 30px;
  background-image: url("../public/images/wood_texture.jpg");
  background-repeat: repeat;
  background-size: 600px 600px;
}

.listsContainer {
  padding: 50px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border: solid rgba(0, 0, 0, 0.429) 3px;
  width: 100%;
  background-image: url("../public/images/cork_texture.jpg");
  background-repeat: repeat;
  background-size: 300px 300px;
  padding-left: 5px;
  padding-right: 5px;
}

.createListContainer {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  z-index: 3;
  position: absolute;
  width: 100%;
}

.createListOptions {
  background-color: white;
  width: 300px;
  margin-top: 30px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 100px;
}

.newListForm {
  display: flex;
  flex-direction: column;
}

.listTitleInput {
  border: solid rgba(128, 128, 128, 0.5) 2px;
  width: 90%;
  height: 40px;
  margin-top: 20px;
  border-radius: 10px;
  text-align: center;
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  color: black;
}

.addTaskContainer {
  display: flex;
  align-items: center;
  width: 100%;
}

.newTaskInput {
  border: solid rgba(128, 128, 128, 0.5) 2px;
  width: 90%;
  height: 40px;
  margin-top: 20px;
  border-radius: 10px;
  text-align: center;
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  color: black;
}

.addTaskIcon {
  height: auto;
  margin-top: 20px;
  margin-left: 10px;
  cursor: pointer;
}

.addTaskIcon:hover {
  transform: scale(105%);
}

.createButtonContainer {
  height: 100px;
  display: flex;
  justify-content: center;
}

.createListButton {
  width: 150px;
  background-color: rgba(182, 207, 216, 0.481);
  color: black;
  border: none;
  font-weight: bold;
  height: 30px;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

.createListButton:hover {
  transform: scale(105%);
}

.cancelContainer {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.cancel {
  font-size: 20px;
  color: #4646465b;
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

.cancel:hover {
  color: #212529;
  cursor: pointer;
}

.unorderedList {
  position: relative;
  height: 100%;
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
  cursor: pointer;
}

.lineItemContainer {
  display: flex;
}

.bin {
  width: 30px;
  height: 30px;
}

.bin:hover {
  transform: scale(106%);
}

.binContainer {
  display: flex;
  justify-content: flex-end;
}

.lineItemName {
  width: 100%;
}

.list {
  min-width: 250px;
  background-color: rgb(255, 243, 110);
  display: flex;
  margin: 30px;
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
  cursor: pointer;
  flex-direction: column;
  align-items: center;
  word-wrap: break-word;
  padding: 10px;
}

.listName {
  width: 100%;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
}

.lineItemContainer {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.listUL {
  list-style: none;
  width: 100%;
}

.label {
  margin-left: 15px;
}

.checkbox {
  width: 20px;
  height: 20px;
  border: solid black;
  margin-right: 15px;
}

.lineItem {
  display: flex;
  width: 100%;
}

.checkboxContainer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.taskStrike {
  text-decoration: line-through;
  text-decoration-thickness: 3px;
}

.tick {
  position: absolute;
  transform: translate(-10px, -20px);
}

.gapFill {
  width: 100%;
  height: 100%;
}

.editContainer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.editIcon {
  width: 35px;
  margin-top: 30px;
  margin-bottom: 20px;
  margin-right: 10px;
  cursor: pointer;
}

.deleteIconContainer {
  width: 100%;
  height: 50px;
}

.editCancel {
  font-size: 20px;
  color: #4646465b;
}

.editCancel:hover {
  color: #212529;
  cursor: pointer;
}

.cancelEditContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.deleteListIcon {
  width: 40px;
  height: 35px;
  transform: translateY(30px);
  cursor: pointer;
}

.deleteListIcon:hover {
  transform: translateY(30px) scale(105%);
}

.addListBackground {
  position: absolute;
  font-style: normal;
  background-color: white;
  cursor: pointer;
  z-index: -1;
  border-left: rgba(0, 0, 0, 0.3) 3px solid;
  border-right: rgba(0, 0, 0, 0.3) 3px solid;
}

.backgroundText {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  color: white;
}

.pinContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.pin {
  width: 50px;
}
