body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.appContainer {
  height: 100vh;
}

.headingContainer {
  background-color: lightblue;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.appHeading {
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
  background-color: white;
  padding: 10px 20px 10px 20px;
  border-radius: 18px;
  cursor: pointer;
}

.addListContainer {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.addList {
  display: flex;
  align-items: center;
  height: 30px;
  cursor: pointer;
}

.addList:hover {
  transform: scale(103%);
}

.newListText {
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
  margin-left: 5px;
  height: 30px;
}

.addIcon {
  width: 35px;
  margin-right: 5px;
  /* border: solid red; */
  height: 30px;
}

.listsContainer {
  height: 70%;
  background-color: lightblue;
}

.createListContainer {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
}

.createListOptions {
  background-color: white;
  height: 400px;
  width: 300px;
  margin-top: 30px;
  border-radius: 12px;
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
}

.newListForm {
  /* border: solid blue; */
  display: flex;
  flex-direction: column;
}

.listTitleInput {
  border: solid rgba(128, 128, 128, 0.5) 2px;
  width: 90%;
  height: 40px;
  margin-top: 20px;
  border-radius: 10px;
  text-align: center;
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  color: black;
}

.addTaskContainer {
  /* border: solid blue; */
  display: flex;
  align-items: center;
  width: 100%;
}

.newTaskInput {
  border: solid rgba(128, 128, 128, 0.5) 2px;
  width: 90%;
  height: 40px;
  margin-top: 20px;
  border-radius: 10px;
  text-align: center;
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  color: black;
  /* border: solid red; */
}

.addTaskIcon {
  height: auto;
  margin-top: 20px;
  margin-left: 10px;
  cursor: pointer;
}

.addTaskIcon:hover {
  transform: scale(105%);
}

.createButtonContainer {
  /* border: solid red; */
  height: 100px;
  display: flex;
  justify-content: center;
}

.createListButton {
  width: 150px;
  background-color: blue;
  color: white;
  border: none;
  font-weight: bold;
  height: 30px;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
}

.createListButton:hover {
  transform: scale(105%);
}

.cancelContainer {
  /* border: solid blue; */
  /* height: 100%; */
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.cancel {
  /* position: absolute; */
  /* align-self: flex-end; */
  font-size: 20px;
  color: #4646465b;
}

.cancel:hover {
  color: #212529;
  cursor: pointer;
}

.unorderedList {
  /* border: solid red; */
  position: relative;
  height: 100%;
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
  cursor: pointer;
}

.lineItemContainer {
  display: flex;
}

.bin {
  width: 30px;
  height: 30px;
}

.bin:hover {
  transform: scale(106%);
}

.binContainer {
  display: flex;
  justify-content: flex-end;
}

.lineItemName {
  width: 100%;
}
